.taskbar{
  display: flex;
  justify-content: center;   /* centers icons horizontally */
  align-items: center;       /* centers icons vertically */

  padding-left: 50px;
  padding-right: 50px;
  width: 50%;
  height: 60px;
  position: absolute;
  left: calc(25% - 50px);
  bottom: 20px;
  border-radius: 100px;
  background: rgba(145, 145, 145, 0.15);
  background: linear-gradient(
      180deg,
      rgba(145, 145, 145, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
  );

  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  overflow: hidden;
  z-index: 1000;
  transition: all 0.3s ease; /* smooth container resize (if needed) */
}

.taskbar app-taskbar-icon {
  transition: transform 0.3s ease, margin 0.3s ease;
}
