<main>
  <div class="desktop">
    <app-draggable-window
      *ngFor="let win of windowsOnDesktop"
      [desc]="win.desc"
      [picture]="win.picture"
      [x]="win.x"
      [y]="win.y"
      [width]="win.width"
      [height]="win.height"
      [z]="win.z"
      [isMinimized]="win.minimized">
    </app-draggable-window>
    <ng-container class="apps" *ngFor="let app of windowsApps">
      <ng-container *ngComponentOutlet="app.getComponent()"></ng-container>
    </ng-container>
    <ng-container class="folders" *ngFor="let folder of FileSystemManager.desktop.getAllChildFolders()">
      <app-folder
        [x]="folder.x"
        [y]="folder.y"
        [name]="folder.name"
        [filled]="folder.isFilled()"
        [id]="folder.id"
      >

      </app-folder>
    </ng-container>

    <app-taskbar></app-taskbar>
  </div>
</main>
