.folder {
  position: absolute;
  background-image: url("../../assets/folder.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;

  user-select: none;       // standard
  -webkit-user-select: none; // Safari
  -moz-user-select: none;    // Firefox
  -ms-user-select: none;
}

.folder.filled {
  background-image: url("../../assets/folder_filled.png");
}

.text{
  width: 100px;
  position: absolute;
  text-align: center;
  top: 100px;
}
