.draggable-window {
  position: absolute;  // To allow free movement on the screen
  width: 300px;
  height: 200px;
  border: 3px solid #d8d8d8;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  cursor: move;
  display: flex;
  flex-direction: column;
  z-index: 1001;
}

.draggable-window.minimized{
  border-radius: 6px;
}

.draggable-window,
.draggable-window * {
  user-select: none;       // standard
  -webkit-user-select: none; // Safari
  -moz-user-select: none;    // Firefox
  -ms-user-select: none;     // IE/Edge
}

.window-header {
  color: white;
  padding: 10px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  cursor: grab;
  height: 30px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.15) 100%
  );
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  overflow: hidden;
  position: relative;
}

/* Create a pseudo-element that covers the entire header */
.window-header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  backdrop-filter: inherit;
  -webkit-backdrop-filter: inherit;
  border-radius: inherit;
  mask: radial-gradient(circle at calc(100% - 28px) 50%, transparent 18px, black 19px);
}

.window-content {
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  border-top: 2px solid #ccc;
  flex-grow: 1;
}

.window-content.minimized{
  border-radius: 4px;
}

.window-title {
  font-size: 24px;
  position: relative;
  z-index: 1002;
}

.minimize {
  float: right;
  margin-top: -4px;
  margin-right: -1px;
  border: 2px solid #ccc;
  border-radius: 1000px;
  font-size: 16px;
  height: 38px;
  width: 38px;
  padding: 4px 8px;
  color: white;
  background: transparent;
  transition: background 0.3s ease, transform 0.2s ease;
  position: relative;
  z-index: 1003;
  align-items: center;
  justify-content: center;
}

.minimize:hover{
  border: 2px solid #ececec;
  transition: 0.3s;

  .hyphen{
    border: 2px solid rgb(255, 255, 255);
    transition: 0.3s;
  }
}
.hyphen{
  width: 15px;
  height: 0px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px;
}
